@media (max-width: 960px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  .menu-main {
    >ul {
      display: none;
    }
    .icon-menu {
      font-size: 1.7em;
      margin: 0.4em;
      display: inline-block;
      &:hover {
        font-size: 1.8em;
        cursor: pointer;
        color: $active-color;
      }
    }
    position: relative;

    > ul {
      position: absolute;
      z-index: 1;
      background-color: $bg-color-header;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      @include border-radius(0 0 3px 3px);
    }
    > ul > li {
      display: block;
      margin: 0.6em;
      .submenu {
        top: 0em;
        left: 6em;
      }
      &:last-child > a {
        border-right: none;
      }
      > a {
        padding: 0.2em;
        border: 0;

      }
    }
  }
  .search {
    display: none;
    &.search-copy {
      display: inline-block;
      min-width: 85px;
      float: none;
      margin-left: 0;
      margin-right: 0;
      input {
        padding-left: 20px;
      }
      .icon-search {
        left: 5px;
        right: inherit;
      }
    }
  }
}

@media (max-width: 500px) {
  .col-xs-400-1 {
    width: 100%;
  }
  html {
    font-size: 12px;
  }
}
