.banner{
  position: relative;
  height: 90%;
  height: calc(100vh - 6.1em);
  background: url('/static/video/Type/Snapshots/Type.jpg') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  min-height: 480px;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
  }
}

.wr-text-banner{
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #ffffff;
  h1{
    font-size: 3em;
  }
  h3{
    font-size: 1.2em;
    margin-top: 1.5em;
  }
  .button{
    margin-top: 1.5em;
  }
}

