$bg-color-header: #fafafa;
$brd-color: #cfd0d0;
$hover-color-header: #02b4cf;
$active-color: #02b4cf;
$color-link: #3e77aa;
$active-color-link: #fb3f4c;

.hidden {
  display: none;
}

.clear-fix:after {
  display: block;
  content: '';
  clear: both;
}

a, a:hover, a:active, a:visited, a:link {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 16px;
}

body {
  min-width:300px;
  font-size: 1em;
  font-family: 'Roboto', 'Helvetica', 'Araial', sans-serif;
  background: #fff;
}

.center-container {
  position: relative;
  &:before {
    content: " ";
    display: inline-block;
    height: 100%;
    width: 1px;
    vertical-align: middle;
  }
}

.center-child {
  display: inline-block;
  vertical-align: middle;
}

.container-main {
  width: 90%;
  margin: 0 auto;
}

.wr-content {
  margin-top: 6.1em;
  //height: 90%;
  //height: calc(100vh - 6.1em); //sub height menu
  width: 100%;
  //background-color:#efece8;
  @include box-shadow(0px 10px 34px -5px rgb(151, 151, 151));
}

.text-main {
  font-size: 50px;
}

.custom-button {
  display: inline-block;
  background: linear-gradient(to bottom, #00abc9 0%, #00abc9 100%);
  background-color: #00ABC9;
  padding: 1em 2.5em;
  color: #ffffff;
  @include border-radius(5px);
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
  opacity: .75;
  transition: opacity 0.33s;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &:active {
    padding: 0.9em 2.5em;
  }
}

h2 {
  font-size: 2em;
  color: #000000;
  //color: #000000;
  padding: 1em 0;
  text-align: center;
  font-family: 'Helvetica', 'Araial', sans-serif;
}

.modal-body input{
  margin: 10px 0;
}

.yellow-wr{
  background: #fff3b5;
  display: inline-block;
  padding: 10px;
  @include border-radius(5px);
  margin-bottom: 10px;
}



