.wr-filters {
  position: relative;
  //height: 100%;
  border: 1px solid $brd-color;
  padding: 1.2em;
  padding-left: 50px;
}

.title {
  font-size: 1.5em;
  color: #000;
}

.title-filter {
  color: $color-link;
  margin: 10px 0;
  &:hover {
    color: $active-color-link;
    cursor: pointer;
  }
  .icon-arrow {
    float: right;
    padding-right: 10px;
    font-size: 1.7em;
    line-height: 0.5em;
  }
  &.off {
    .icon-arrow:before {
      content: "\f107";
    }
  }
}

.title-field {
  font-size: 0.85em;
  margin-bottom: 10px;
}

.filter-inner {
  input {
    margin-bottom: 10px;
  }
}

.wr-tools-filter {
  position: absolute;
  left: 15px;
  top: 20px;
  font-size: 1.5em;
}

.tool-filter {
  margin-bottom: 7px;
  color: $color-link;
  border: 0;
  padding: 0;
  background: transparent;
  &:hover {
    color: $active-color-link;
    cursor: pointer;
  }
}

.submit{
  color: #4bbe3f;

}

