.map-wrapper {
  transition: 1s;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  height: 20em;
  text-align: center;
  #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20em;
    border-top: 1px solid $brd-color;
  }
}
.map-contacts {
  max-width: 80%;
  position: relative;
  padding: 2em 0;
  background: rgba(246, 246, 246, 0.78);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  ul {
    overflow: hidden;
    width: 90%;
  }
  .info {
    font-size: 1.1em;
    i {
      float: left;
      width: 1em;
      text-align: center;
    }
    ul {
      margin-bottom: 1em;
    }
    > div:last-child {
      li {
        margin-bottom: 0;
      }
    }
    ul.last {
      margin-bottom: 0;
    }
  }
  .close {
    position: absolute;
    display: inline-block;
    background: rgba(246, 246, 246, 0.78);
    border-radius: 5px;
    padding: 1px 3px;
    right: -18px;
    top: -19px;
    color: #000000;
    opacity: 0.6;
    &:hover{
      opacity: 0.8;
    }
  }
}

.map-contacts.min-version {
  position: absolute;
  padding: 5px;
  box-sizing: border-box;
  bottom: auto;
  top: 10px;
  left: auto;
  right: 10px;
  min-width: 10px;
  width: 27px;
  border-radius: 2px;
  background: #fff;
  height: auto;
  margin: auto;
  .info {
    padding: 0;
    ul {
      line-height: 0.5;
      font-size: 0;
      margin-bottom: 12px;
      &.last {
        margin-bottom: 0;
      }
    }
  }
  .contact-info {
    display: none !important;
    color: #ffffff;
  }

  .wr-contact .icons-contact {
    display: inline-block;
    color: #747474;
    &:hover {
      color: #333333;
    }
  }

  .close {
    display: none;
  }
}

.wr-contact ul li a{
  margin-left: 10px;
}
