.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  color: #000;
  font-size: 0.9em;
  background: $bg-color-header;

  //background-color: #fd0;
}

.logo {
  display: inline-block;
  width: 7em;
  margin: 0.6em 0;
  img {
    width: 100%;
  }
}

.search {
  position: relative;
  width: 20%;
  margin: 0.6em 2%;
  float: right;
  .icon-search {
    position: absolute;
    right: 13px;
    top: 50%;
    margin-top: -0.6em;
    &:hover {
      cursor: pointer;
    }
    &:hover ~ input {
      display: none;
    }
    &:before {
      content: "\f002";
      display: inline-block;
    }
  }
  &:hover {
    input {
      opacity: 1;
    }
    .icon-search {
      transition: color 0.44s;
      color: #000;
    }
  }
  input {
    padding: 0.3em 0.5em;
    width: 100%;
    opacity: 0;
    transition: opacity 0.44s;
  }
  &.search-copy{
    display: none;
  }
}

.menu {
  > ul {
    font-size: 0; //for delete white space between li
    > li {
      position: relative;
      font-size: 0.9rem; //for delete white space between li
      display: inline-block;
      &:last-child > a {
        border-right: 1px solid $brd-color;
      }
      > a {
        color: inherit;
        text-transform: uppercase;
        padding: 1.2em;
        display: block;
        border-left: 1px solid $brd-color;
        &:hover {
          //background: $hover-color-header;
          color: $active-color;
        }
      }
      a:hover ~ .submenu {
        display: inline-block;
      }
    }
  }
}

.menu.sign {
  float: right;
}

.menu-main {
  float: left;
  .icon-menu{
    display: none;
  }

}

.wr-tools {
  float: right;
  > ul > li > a {
    .tool {
      &.favorite {
        width: 3.5em;
      }
      &.basket {
        width: 3.8em;
      }
    }

    text-align: center;
    padding: 1em 1.2em;
    opacity: .75;
    transition: opacity 0.44s;
    &:hover{
      color: #000000;
      opacity: 1;
    }
  }
  .counter {
    display: inline-block;
    background-color: #ccc;
    color: #fff;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.54em;
    @include border-radius(5px);
    &.bg-active {
      background-color: $active-color;
    }
  }
}

.submenu {
  display: none;
  position: absolute;
  top: 3.4em;
  left: 0;
  z-index: 1000;
  padding: 1em 0;
  //background-color: rgba(255,255,255,0.9);
  background-color: $bg-color-header;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  @include border-radius(0 0 3px 3px);
  &:hover{
    display: inline-block;
  }
  li {
    a {
      padding: 0.3em 1.2em;
      display: block;
      &:hover {
        //background-color: $hover-color-header;
        color: $active-color;
      }
    }
  }
}

.row-menu {
  //padding: 1em 0;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid $brd-color;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}