.lot{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  min-height: 420px;
  overflow: hidden;
  border-bottom: 1px solid $brd-color;
  //border-right: 1px solid $brd-color;
  //&:nth-child(4n+1){
  //  border-left: 1px solid #cfd0d0;
  //}
  .wr-image{
    width: 100%;
    height: 23%;
    overflow: hidden;
  }
  .link-main:link {
    color: $color-link;
  }
  .link-main:visited, .link-main.visited:link {
    color: #9d5faf;
  }
  .title{
    margin: 10px 0;
  }
  .custom-button{
    padding: 0.6em 2.9em;
    color: #fff;
    &:hover {
      color: #fff;
      cursor: pointer;
    }
  }

}

.wr-lots{
  border: 1px solid $brd-color;
  overflow: hidden;
  padding: 10px;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.page-lots{
  padding-bottom: 50px;
}

.page-lot{
  padding-bottom: 50px;
  .wr-image .image{
    //width: 90%;
    max-width: 90%;
    min-width: 210px;
  }
  .title-mini{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
  }

  .value-mini{
    font-size: 2em;
    margin-top: 10px;
  }
  .input-price{
    max-width: 300px;
    display: inline-block;
    width: 50%;
  }
  .custom-button {
    padding: 0.7em 2.5em;
    width: 45%;
  }
  .add-bit{
    margin-top: 10px;
  }
}

.wr-select-sort{
  display: block;
  height: 50px;
  select{
    width: 200px;
    float: right;
  }
}



.lot{
  display: inline-block;
  .image{
    width: 100%;
  }
}