.wr-pagination {
  margin-top: -1px;
  margin-right: -13px;
  border-top: 1px solid $brd-color;
  text-align: center;
}

.pagination {
  display: inline-block;
  ul li {
    float: left;
    a {
      color: $color-link;
      margin-left: 10px;
      &:hover, &.active {
        color: $active-color-link;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}