.button-search {
  border: 0;
  padding: 0;
  background: transparent;
}

.wr-results-search {
  padding: 20px 0;
}

.result-search {
  padding: 20px 0;
  .title,.description{
    margin-bottom: 10px;
  }
  .wr-image {
    max-height: 200px;
    overflow: hidden;
  }
  .image {
    width: 100%;
  }

}