@import url(notification.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="text"], input[type="password"], textarea, select {
  outline: none; }

.hidden {
  display: none; }

.clear-fix:after {
  display: block;
  content: '';
  clear: both; }

a, a:hover, a:active, a:visited, a:link {
  text-decoration: none;
  color: inherit; }

html {
  font-size: 16px; }

body {
  min-width: 300px;
  font-size: 1em;
  font-family: 'Roboto', 'Helvetica', 'Araial', sans-serif;
  background: #fff; }

.center-container {
  position: relative; }
  .center-container:before {
    content: " ";
    display: inline-block;
    height: 100%;
    width: 1px;
    vertical-align: middle; }

.center-child {
  display: inline-block;
  vertical-align: middle; }

.container-main {
  width: 90%;
  margin: 0 auto; }

.wr-content {
  margin-top: 6.1em;
  width: 100%;
  box-shadow: 0px 10px 34px -5px #979797;
  -webkit-box-shadow: 0px 10px 34px -5px #979797;
  -moz-box-shadow: 0px 10px 34px -5px #979797;
  -o-box-shadow: 0px 10px 34px -5px #979797; }

.text-main {
  font-size: 50px; }

.custom-button {
  display: inline-block;
  background: linear-gradient(to bottom, #00abc9 0%, #00abc9 100%);
  background-color: #00ABC9;
  padding: 1em 2.5em;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
  opacity: .75;
  transition: opacity 0.33s; }
  .custom-button:hover {
    opacity: 1;
    cursor: pointer; }
  .custom-button:active {
    padding: 0.9em 2.5em; }

h2 {
  font-size: 2em;
  color: #000000;
  padding: 1em 0;
  text-align: center;
  font-family: 'Helvetica', 'Araial', sans-serif; }

.modal-body input {
  margin: 10px 0; }

.yellow-wr {
  background: #fff3b5;
  display: inline-block;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  color: #000;
  font-size: 0.9em;
  background: #fafafa; }

.logo {
  display: inline-block;
  width: 7em;
  margin: 0.6em 0; }
  .logo img {
    width: 100%; }

.search {
  position: relative;
  width: 20%;
  margin: 0.6em 2%;
  float: right; }
  .search .icon-search {
    position: absolute;
    right: 13px;
    top: 50%;
    margin-top: -0.6em; }
    .search .icon-search:hover {
      cursor: pointer; }
    .search .icon-search:hover ~ input {
      display: none; }
    .search .icon-search:before {
      content: "\f002";
      display: inline-block; }
  .search:hover input {
    opacity: 1; }
  .search:hover .icon-search {
    transition: color 0.44s;
    color: #000; }
  .search input {
    padding: 0.3em 0.5em;
    width: 100%;
    opacity: 0;
    transition: opacity 0.44s; }
  .search.search-copy {
    display: none; }

.menu > ul {
  font-size: 0; }
  .menu > ul > li {
    position: relative;
    font-size: 0.9rem;
    display: inline-block; }
    .menu > ul > li:last-child > a {
      border-right: 1px solid #cfd0d0; }
    .menu > ul > li > a {
      color: inherit;
      text-transform: uppercase;
      padding: 1.2em;
      display: block;
      border-left: 1px solid #cfd0d0; }
      .menu > ul > li > a:hover {
        color: #02b4cf; }
    .menu > ul > li a:hover ~ .submenu {
      display: inline-block; }

.menu.sign {
  float: right; }

.menu-main {
  float: left; }
  .menu-main .icon-menu {
    display: none; }

.wr-tools {
  float: right; }
  .wr-tools > ul > li > a {
    text-align: center;
    padding: 1em 1.2em;
    opacity: .75;
    transition: opacity 0.44s; }
    .wr-tools > ul > li > a .tool.favorite {
      width: 3.5em; }
    .wr-tools > ul > li > a .tool.basket {
      width: 3.8em; }
    .wr-tools > ul > li > a:hover {
      color: #000000;
      opacity: 1; }
  .wr-tools .counter {
    display: inline-block;
    background-color: #ccc;
    color: #fff;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.54em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    .wr-tools .counter.bg-active {
      background-color: #02b4cf; }

.submenu {
  display: none;
  position: absolute;
  top: 3.4em;
  left: 0;
  z-index: 1000;
  padding: 1em 0;
  background-color: #fafafa;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px; }
  .submenu:hover {
    display: inline-block; }
  .submenu li a {
    padding: 0.3em 1.2em;
    display: block; }
    .submenu li a:hover {
      color: #02b4cf; }

.row-menu {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #cfd0d0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); }

.map-wrapper {
  transition: 1s;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  height: 20em;
  text-align: center; }
  .map-wrapper #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20em;
    border-top: 1px solid #cfd0d0; }

.map-contacts {
  max-width: 80%;
  position: relative;
  padding: 2em 0;
  background: rgba(246, 246, 246, 0.78);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  text-align: left; }
  .map-contacts ul {
    overflow: hidden;
    width: 90%; }
  .map-contacts .info {
    font-size: 1.1em; }
    .map-contacts .info i {
      float: left;
      width: 1em;
      text-align: center; }
    .map-contacts .info ul {
      margin-bottom: 1em; }
    .map-contacts .info > div:last-child li {
      margin-bottom: 0; }
    .map-contacts .info ul.last {
      margin-bottom: 0; }
  .map-contacts .close {
    position: absolute;
    display: inline-block;
    background: rgba(246, 246, 246, 0.78);
    border-radius: 5px;
    padding: 1px 3px;
    right: -18px;
    top: -19px;
    color: #000000;
    opacity: 0.6; }
    .map-contacts .close:hover {
      opacity: 0.8; }

.map-contacts.min-version {
  position: absolute;
  padding: 5px;
  box-sizing: border-box;
  bottom: auto;
  top: 10px;
  left: auto;
  right: 10px;
  min-width: 10px;
  width: 27px;
  border-radius: 2px;
  background: #fff;
  height: auto;
  margin: auto; }
  .map-contacts.min-version .info {
    padding: 0; }
    .map-contacts.min-version .info ul {
      line-height: 0.5;
      font-size: 0;
      margin-bottom: 12px; }
      .map-contacts.min-version .info ul.last {
        margin-bottom: 0; }
  .map-contacts.min-version .contact-info {
    display: none !important;
    color: #ffffff; }
  .map-contacts.min-version .wr-contact .icons-contact {
    display: inline-block;
    color: #747474; }
    .map-contacts.min-version .wr-contact .icons-contact:hover {
      color: #333333; }
  .map-contacts.min-version .close {
    display: none; }

.wr-contact ul li a {
  margin-left: 10px; }

.banner {
  position: relative;
  height: 90%;
  height: calc(100vh - 6.1em);
  background: url("/static/video/Type/Snapshots/Type.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  min-height: 480px; }
  .banner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); }

.wr-text-banner {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #ffffff; }
  .wr-text-banner h1 {
    font-size: 3em; }
  .wr-text-banner h3 {
    font-size: 1.2em;
    margin-top: 1.5em; }
  .wr-text-banner .button {
    margin-top: 1.5em; }

.lot {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  min-height: 420px;
  overflow: hidden;
  border-bottom: 1px solid #cfd0d0; }
  .lot .wr-image {
    width: 100%;
    height: 23%;
    overflow: hidden; }
  .lot .link-main:link {
    color: #3e77aa; }
  .lot .link-main:visited, .lot .link-main.visited:link {
    color: #9d5faf; }
  .lot .title {
    margin: 10px 0; }
  .lot .custom-button {
    padding: 0.6em 2.9em;
    color: #fff; }
    .lot .custom-button:hover {
      color: #fff;
      cursor: pointer; }

.wr-lots {
  border: 1px solid #cfd0d0;
  overflow: hidden;
  padding: 10px;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px; }

.page-lots {
  padding-bottom: 50px; }

.page-lot {
  padding-bottom: 50px; }
  .page-lot .wr-image .image {
    max-width: 90%;
    min-width: 210px; }
  .page-lot .title-mini {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px; }
  .page-lot .value-mini {
    font-size: 2em;
    margin-top: 10px; }
  .page-lot .input-price {
    max-width: 300px;
    display: inline-block;
    width: 50%; }
  .page-lot .custom-button {
    padding: 0.7em 2.5em;
    width: 45%; }
  .page-lot .add-bit {
    margin-top: 10px; }

.wr-select-sort {
  display: block;
  height: 50px; }
  .wr-select-sort select {
    width: 200px;
    float: right; }

.lot {
  display: inline-block; }
  .lot .image {
    width: 100%; }

.wr-filters {
  position: relative;
  border: 1px solid #cfd0d0;
  padding: 1.2em;
  padding-left: 50px; }

.title {
  font-size: 1.5em;
  color: #000; }

.title-filter {
  color: #3e77aa;
  margin: 10px 0; }
  .title-filter:hover {
    color: #fb3f4c;
    cursor: pointer; }
  .title-filter .icon-arrow {
    float: right;
    padding-right: 10px;
    font-size: 1.7em;
    line-height: 0.5em; }
  .title-filter.off .icon-arrow:before {
    content: "\f107"; }

.title-field {
  font-size: 0.85em;
  margin-bottom: 10px; }

.filter-inner input {
  margin-bottom: 10px; }

.wr-tools-filter {
  position: absolute;
  left: 15px;
  top: 20px;
  font-size: 1.5em; }

.tool-filter {
  margin-bottom: 7px;
  color: #3e77aa;
  border: 0;
  padding: 0;
  background: transparent; }
  .tool-filter:hover {
    color: #fb3f4c;
    cursor: pointer; }

.submit {
  color: #4bbe3f; }

.wr-pagination {
  margin-top: -1px;
  margin-right: -13px;
  border-top: 1px solid #cfd0d0;
  text-align: center; }

.pagination {
  display: inline-block; }
  .pagination ul li {
    float: left; }
    .pagination ul li a {
      color: #3e77aa;
      margin-left: 10px; }
      .pagination ul li a:hover, .pagination ul li a.active {
        color: #fb3f4c;
        cursor: pointer;
        text-decoration: underline; }

.button-search {
  border: 0;
  padding: 0;
  background: transparent; }

.wr-results-search {
  padding: 20px 0; }

.result-search {
  padding: 20px 0; }
  .result-search .title, .result-search .description {
    margin-bottom: 10px; }
  .result-search .wr-image {
    max-height: 200px;
    overflow: hidden; }
  .result-search .image {
    width: 100%; }

@media (max-width: 960px) {
  html {
    font-size: 14px; } }
@media (max-width: 750px) {
  .menu-main {
    position: relative; }
    .menu-main > ul {
      display: none; }
    .menu-main .icon-menu {
      font-size: 1.7em;
      margin: 0.4em;
      display: inline-block; }
      .menu-main .icon-menu:hover {
        font-size: 1.8em;
        cursor: pointer;
        color: #02b4cf; }
    .menu-main > ul {
      position: absolute;
      z-index: 1;
      background-color: #fafafa;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      -webkit-border-radius: 0 0 3px 3px;
      -moz-border-radius: 0 0 3px 3px;
      -ms-border-radius: 0 0 3px 3px;
      border-radius: 0 0 3px 3px; }
    .menu-main > ul > li {
      display: block;
      margin: 0.6em; }
      .menu-main > ul > li .submenu {
        top: 0em;
        left: 6em; }
      .menu-main > ul > li:last-child > a {
        border-right: none; }
      .menu-main > ul > li > a {
        padding: 0.2em;
        border: 0; }

  .search {
    display: none; }
    .search.search-copy {
      display: inline-block;
      min-width: 85px;
      float: none;
      margin-left: 0;
      margin-right: 0; }
      .search.search-copy input {
        padding-left: 20px; }
      .search.search-copy .icon-search {
        left: 5px;
        right: inherit; } }
@media (max-width: 500px) {
  .col-xs-400-1 {
    width: 100%; }

  html {
    font-size: 12px; } }

/*# sourceMappingURL=main.css.map */
